body{
    background: #F5F5F3;
}

main > .container {
    padding: 60px 15px 0;
}

header{
    margin-bottom: 120px;
}

.navbar{
    background-color: #FFF !important;
    box-shadow: 0px 30px 40px 0px rgb(1 11 60 / 6%);
    height: 96px;
}

.navbar a{
    color: #212529;
}

.text-black{
    color: #212529;
}

.container{

}

.text-white{
    color: #F5F5F3 !important;
}

.bg-blue{
    background: #5272CA;
}

.text-blue{
    color: #5272CA;
}

.btn-outline-blue{
    background-color: #5272CA;
    border-color: #5272CA;
    color: #F5F5F3;
}

.progress{
    margin-bottom: 10px;
}

.next-button{
    width: 100%;
    margin-bottom: 5px;
}

.previous-button{
    width: 100%;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #a72828;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}